table,
td {
    border: none;
}

.document-end {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.document-header {
    padding-bottom: 1.25rem;
    display: flex;
    column-gap: 0.5 rem;
    min-height: 12rem;
    border-bottom: 4px solid black;
}

.header-logo-container {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
}

.header-logo-container div {
    width: 5rem;
    aspect-ratio: 1 / 1;
}

.header-logo-container div>img {
    object-fit: cover;
}

.header-text {
    font-size: 12pt;
    padding-top: 0.5rem;
}

.header-text p {
    text-align: center;
}